<launch>
	<!-- run rosbridge -->
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

	<!-- return 4 points in string -->
	<node pkg="ir_cam" name="ircam_4points" type="ircam_4points.py" required="true" output="screen"></node>

	<!-- get visualization markers in RVIS -->
	<node pkg="ir_cam" name="ircam_vis" type="ircam_vis.py" output="screen"></node>

	<!-- indicate buzzer/led when detecting the points -->
	<node pkg="ir_cam" name="ircam_buzzer" type="ircam_buzzer.py" output="screen"></node>


</launch>
